html {
   width: 100%;
   height: 100%;
   overflow: hidden;
   font-size: 1.5em;
   font-family: sans-serif;
   white-space: nowrap;
   text-overflow: clip;
}


.flex-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}

#welcome{
   text-align: center;
}

#time-block{
   margin-top: 15%;
}

